.user-table td {
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
  vertical-align: middle !important;
}

.user-table td:last-child {
  padding-right: 6px;
}

.user-table input {
  border: none;
  margin: auto;
  background: transparent;
  aria-hidden: true;
}

.user-table button {
  border: none;
  background: transparent;
  color: transparent;
}

.user-table button:hover {
  display: inline-block;
  color: #fff;
  background-color: #c9302c;
  border-color: #ac2925;
}
