.user-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1;
}

.user-table td:first-child {
  padding-left: 0;
}

.user-table td:last-child {
  padding-right: 6px;
}

.user-table input {
  border: none;
  margin: auto;
  background: transparent;
  aria-hidden: true;
}
